.Input {
    display: flex;
    flex-direction: column;
}
.input {    
    margin-bottom: 15px;
    font-size: 18px;
    height: 20px;
    width: 500px;
    padding: 10px 0 10px 14px;
}

.error {
    color: red;
    text-align: start;
    margin-bottom: 5px;
}